<form id="comentario-form" method="POST" enctype="multipart/form-data">
    {% csrf_token %}
    <div class="form-group">
        <label for="nombre">Nombre:</label>
        <input type="text" class="form-control" id="nombre" name="nombre" required maxlength="100">
        <div class="char-counter" id="nombre-counter">0 / 100</div>
    </div>
    <div class="form-group">
        <label for="titulo">Agregar un título:</label>
        <input type="text" class="form-control" id="titulo" name="titulo" placeholder="¿Qué es lo más importante para compartir?" required maxlength="100">
        <div class="char-counter" id="titulo-counter">0 / 100</div>
    </div>
    <div class="form-group">
        <label for="calificacion">Calificación general:</label>
        <div class="star-rating">
            <input type="radio" id="star5" name="rating" value="5"><label for="star5"></label>
            <input type="radio" id="star4" name="rating" value="4"><label for="star4"></label>
            <input type="radio" id="star3" name="rating" value="3"><label for="star3"></label>
            <input type="radio" id="star2" name="rating" value="2"><label for="star2"></label>
            <input type="radio" id="star1" name="rating" value="1"><label for="star1"></label>
        </div>
    </div>
    <div class="form-group">
        <label for="comentario">Agregar un comentario escrito:</label>
        <textarea class="form-control" id="comentario" name="comentario" rows="3" placeholder="¿Qué te gustó o qué no te gustó?¿Para qué usaste este producto?" required maxlength="500"></textarea>
        <div class="char-counter" id="comentario-counter">0 / 500</div>
    </div>
    <div class="form-group">
        <label for="imagen">Agregar una foto o video:</label>
        <input type="file" class="form-control-file" id="imagen" name="imagen">
    </div>
    <button type="submit" class="btn btn-primary">Enviar</button>
</form>
