{% extends 'base.html' %}

{% block title %}Home{% endblock %}

{% block content %}
    <h1 class="text-center mb-4">Bienvenido a Mi Evento</h1>
    <div class="row">
        {% for categoria in categorias %}
            <div class="col-md-4 mb-4">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">{{ categoria.nombre }}</h5>
                        <ul class="list-group list-group-flush">
                            {% for producto in productos %}
                                {% if producto.categoria == categoria %}
                                    <li class="list-group-item">{{ producto.nombre }} - ${{ producto.precio }}</li>
                                {% endif %}
                            {% endfor %}
                        </ul>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
    <!-- Botón para ver comentarios -->
    <div class="text-center mt-4">
        <a href="{% url 'ver_comentarios' %}" class="btn btn-primary">Ver Comentarios</a>
    </div>
{% endblock %}
