<form id="comentario-form" method="POST" enctype="multipart/form-data">
    {% csrf_token %}
    <div class="form-group">
        <label for="titulo">Agregar un título:</label>
        <input type="text" class="form-control" id="titulo" name="titulo" placeholder="¿Qué es lo más importante para compartir?" required maxlength="20">
        <div class="char-counter" id="titulo-counter">20 / 20</div>
        <div class="progress">
            <div class="progress-bar" id="titulo-progress"></div>
        </div>
    </div>
    <div class="form-group">
        <label for="nombre">Nombre:</label>
        <input type="text" class="form-control" id="nombre" name="nombre" placeholder="Ejemplo: Juan Pérez" required maxlength="25">
        <div class="char-counter" id="nombre-counter">25 / 25</div>
        <div class="progress">
            <div class="progress-bar" id="nombre-progress"></div>
        </div>
    </div>
    <div class="form-group">
        <label for="calificacion">Calificación general:</label>
        <div class="star-rating">
            {% for i in "12345"|make_list %}
                <input type="radio" id="star{{ i }}" name="rating" value="{{ i }}"><label for="star{{ i }}" title="{{ i }} estrellas"></label>
            {% endfor %}
        </div>
    </div>
    <div class="form-group">
        <label for="comentario">Agregar un comentario escrito:</label>
        <textarea class="form-control" id="comentario" name="comentario" rows="3" placeholder="¿Qué te gustó o qué no te gustó?¿Para qué usaste este producto?" required maxlength="150"></textarea>
        <div class="char-counter" id="comentario-counter">150 / 150</div>
        <div class="progress">
            <div class="progress-bar" id="comentario-progress"></div>
        </div>
    </div>
    <div class="form-group file-upload">
        <label for="imagen">Agregar una foto o video:</label>
        <div class="file-drop-area">
            <span class="fake-btn">Elige un archivo</span>
            <span class="file-msg">o arrastra y suelta aquí</span>
            <input class="file-input" type="file" id="imagen" name="imagen">
        </div>
    </div>
    <div class="text-right mt-3">
        <button type="button" class="btn btn-secondary" onclick="cancelarFormulario()">Cancelar</button>
        <button type="submit" class="btn btn-primary">Enviar</button>
    </div>
</form>
