{% for comentario in comentarios %}
    <div class="mb-3 comentario">
        <div class="user-info">
            <i class="bi bi-person-fill"></i>
            <p class="mb-0"><strong>{{ comentario.nombre }}</strong></p>
        </div>
        <div class="stars">
            <div class="star-rating">
                {% for i in "12345"|make_list %}
                    <input type="radio" id="display_star{{ comentario.id }}_{{ i }}" name="rating_display{{ comentario.id }}" value="{{ i }}" {% if i|add:0 <= comentario.calificacion %} checked {% endif %} disabled>
                    <label for="display_star{{ comentario.id }}_{{ i }}" title="{{ i }} estrellas"></label>
                {% endfor %}
            </div>
            <span class="text-silver ms-2">{{ comentario.calificacion }}</span>
        </div>
        <p class="date">Revisado el: {{ comentario.fecha|date:"dmy" }}</p>
        <p class="mb-0">{{ comentario.comentario }}</p>
    </div>
{% empty %}
    <p>No hay comentarios todavía.</p>
{% endfor %}
